@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(228, 228, 228);
  background-color: #202020;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  grid-template-columns: repeat(5, 1fr);
}

.card {
  transition: 250ms;
}

.card:hover {
  transform: scale(1.05);
}

.counter {
  position: absolute;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  justify-content: flex-end;
  top: 0;
  right: 20px;
  margin-right: 10px;
}

.difficulty {
  transition: 250ms;
}

.difficulty:hover {
  transform: scale(1.05);
}

.gameover {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  backdrop-filter: blur(2px);
  min-height: 100%;
}

.gameover-button {
  transition: 250ms;
}

.gameover-button:hover {
  transform: scale(1.1);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media screen and (max-width: 800px) {
  header > div > img {
    width: 100px;
  }

  #root
    > div
    > header
    > div.flex.flex-col.gap-2.justify-center.items-center.bg-red-800.p-2 {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    padding-bottom: 30px;
  }

  header h1 {
    display: none;
  }

  #root > div > main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .gameover {
    height: 100ch;
  }
}
